@if (columns.length) {
<table mat-table [dataSource]="characters()" class="mat-elevation-z8">

  @for (column of columns; track column) {
  <ng-container [matColumnDef]="column.columnDef">

    <th mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </th>

    <td mat-cell *matCellDef="let row" class="hover mtd">

      @if(column.columnDef==='id' && !isSelected(row)) {
      {{ column.cell(row) }}
      } @else if(column.columnDef==='id' && isSelected(row)) {
      <div class="selected-id">({{ column.cell(row) }})</div>
      } @else if (column.columnDef === 'status') {
      <!-- <div [style.color]="row['status'] | color">{{ column.cell(row) }}</div> -->
      <div [style.color]="row['status'] | color" [innerHTML]="row.status | 
          isEmpty:row['status']:'status'"></div>
      } @else if (column.columnDef === 'species') {
      <div [style.color]="row['species'] | color:'species'">{{ column.cell(row) }}</div>
      } @else if (column.columnDef === 'type') {
      <div [style.color]="row['type'] | color:'type'">{{ column.cell(row) | isEmpty:row['type'] }}</div>
      } @else if (column.columnDef === 'gender') {
      <app-row [column]="column" [row]="row" [color]="row['gender'] | color"></app-row>
      } @else {
      <name-row [column]="column" [row]="row"></name-row>
      }

    </td>

  </ng-container>
  }




  <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns()" (click)="selectedRow(row)"
    [class.row-is-clicked]="isSelected(row)">
  </tr>





</table>
}