<table mat-table [dataSource]="characters()" class="mat-elevation-z8">

    @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">

        <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
        </th>
        
        <td mat-cell *matCellDef="let row" class="hover">
            
            @if(column.columnDef==='id' && !isSelected(row)){
            {{column.cell(row)}}
            }@else if(column.columnDef==='id' && isSelected(row)){
            <div class="selected-id">
                ({{column.cell(row)}})
            </div>
            }
            @else if (column.columnDef === 'status') {
            <div [style.color]="row['status'] | color">{{ column.cell(row)}}</div>
            }
            @else if (column.columnDef === 'species') {
            <div [style.color]="row['species'] | color">{{ column.cell(row)}}</div>
            }
            @else if (column.columnDef === 'type') {
            <div [style.color]="row['type'] | color:'type'">{{ column.cell(row) | isEmpty:row['type'] }}</div>
            }
            @else if (column.columnDef === 'gender') {
            <!-- <div [style.color]="row['gender'] | color:row">{{ column.cell(row)}}</div> -->
             <app-row [column]="column" [row]="row" [color]="row | color:row"></app-row>
            }
            @else{
            <!-- NAME COLUMN -->
             <name-row [column]="column" [row]="row"></name-row>
            <!-- <section class="name-image" matTooltip="{{!isSelected(row) ?'SELECT CHARACTER':''}}"
            [matTooltipPosition]="'after'">
                <div class="avatar-container">
                    <img [src]="row.image" alt="" class="img" [style.border-color]="row['status'] | color">
                </div>
                <div>
                    {{column.cell(row)}}
                </div>
            </section> -->
            }
        </td>

    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns();sticky: true"></tr>
    <tr class="lighter" mat-row *matRowDef="let row; columns: displayedColumns();" (click)="selectedRow(row)"
        [class.row-is-clicked]="isSelected(row)"></tr>
</table>