<!-- @defer (when isLoadedSignal$()) { -->
@if(selectedViewSignal$()==='list'){
<!-- @if(selectedViewSignal$2()==='list'){ -->
<cdk-virtual-scroll-viewport (scrolledIndexChange)="onScroll($event)" itemSize="{{itemSizeComputed$()}}" class="list-viewport">
  <table mat-table [dataSource]="charactersComputed$()" class="mat-elevation-z8">

    @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">

      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>

      <td mat-cell *matCellDef="let row">
        @if(column.columnDef==='id' && !isSelected(row)){
        {{column.cell(row)}}
        }@else if(column.columnDef==='id' && isSelected(row)){
        ( {{column.cell(row)}} )
        }
        @else if (column.columnDef === 'status') {
        <div [style.color]="row['status'] | color">{{ column.cell(row)}}</div>
        }
        @else if (column.columnDef === 'species') {
        <div [style.color]="row['species'] | color">{{ column.cell(row)}}</div>
        }
        @else if (column.columnDef === 'type') {
        <div [style.color]="row['type'] | color:'type'">{{ column.cell(row) | isEmpty:row['type'] }}</div>
        }
        @else if (column.columnDef === 'gender') {
        <div [style.color]="row['gender'] | color:row">{{ column.cell(row)}}</div>
        }
        @else{
        {{column.cell(row)}}
        }
      </td>

    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns$();sticky: true"></tr>
    <tr class="lighter" mat-row *matRowDef="let row; columns: displayedColumns$();" (click)="selectedRow(row)"
      [class.row-is-clicked]="isSelected(row)"></tr>
  </table>

</cdk-virtual-scroll-viewport>
<!-- }
@placeholder {
<div>Large component placeholder</div>
} -->

}@else{
<cdk-virtual-scroll-viewport (scrolledIndexChange)="onScroll($event)" itemSize="75" class="grid-view">
  <div *cdkVirtualFor="let character of charactersComputed$()" class="grid-item">
    <!-- <div class="grid-view-container"  [class.row-is-clicked]="isSelected(character)"> -->
      <app-grid-view [character]="character" (click)="selectedRowCharacter(character)"></app-grid-view>
    <!-- </div> -->
  </div>
</cdk-virtual-scroll-viewport>
}