<!-- <form [formGroup]="stateForm">
  <mat-form-field>
    <mat-label>States Group</mat-label>
    <input type="text"
           matInput
           formControlName="stateGroup"
           required
           [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        @for (group of stateGroupOptions | async; track group) {
          <mat-optgroup [label]="group.letter">
            @for (name of group.names; track name) {
              <mat-option [value]="name">{{name}}</mat-option>
            }
          </mat-optgroup>
        }
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<!-- <form class="example-form"> -->
  <mat-form-field >
    <mat-label>{{title}}</mat-label>
    <input type="text" [placeholder]="placeholder" aria-label="Number" matInput [formControl]="inputControl"
      [matAutocomplete]="auto">
    <mat-autocomplete (optionSelected)="onSelected($event)" #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option.value">{{option.value}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
<!-- </form> -->

<!-- <mat-form-field class="example-full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    [placeholder]="placeholder"
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
      {{ option.value }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->