@if(selectedViewSignal$()==='list'){
<!-- <table mat-table [dataSource]="charactersDetails" multiTemplateDataRows class="mat-elevation-z8"> -->
<table mat-table [dataSource]="combineDataList()" multiTemplateDataRows class="mat-elevation-z8">
  <!-- Character Columns -->
  @for (column of columns; track column) {
  <ng-container [matColumnDef]="column.columnDef">

    <th mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </th>

    <td mat-cell *matCellDef="let row" class="hover mtd">
      <ng-container [ngSwitch]="column.columnDef">
        <!-- ID Column -->
        <ng-container *ngSwitchCase="'id'">
          @if (!isSelected(row)) {
            {{ row.character?.id }}
          } @else {
            <div class="selected-id">({{ row.character?.id }})</div>
          }
        </ng-container>

        <!-- Status Column -->
        <ng-container *ngSwitchCase="'status'">
          <!-- <div [style.color]="row.character['status'] | color">{{ row.character.status | 
          isEmpty:row.character['status']:'status' }}</div> -->
          <div [style.color]="row.character['status'] | color" [innerHTML]="row.character.status | 
          isEmpty:row.character['status']:'status'"></div>
        </ng-container>

        <!-- Species Column -->
        <ng-container *ngSwitchCase="'species'">
          <div [style.color]="row.character['species'] | color">{{ row.character.species }}</div>
        </ng-container>

        <!-- Type Column -->
        <ng-container *ngSwitchCase="'type'">
          <div [style.color]="row.character['type'] | color:'type'">
            {{ row.character.type | isEmpty:row.character['type'] }}
          </div>
        </ng-container>

        <!-- Gender Column -->
        <ng-container *ngSwitchCase="'gender'">
          <app-row [column]="column" [row]="row.character"
            [color]="row.character.gender | color:row.character.gender"></app-row>
        </ng-container>

        <!-- Location Name -->
        <ng-container *ngSwitchCase="'locationName'">
          <div>{{ row.character.locationName }}</div>
        </ng-container>

        <!-- Location Dimension -->
        <ng-container *ngSwitchCase="'locationDimension'">
          <div [style.color]="row.character['locationDimension'] | color:'locationDimension'">
            {{ row.character.locationDimension | isEmpty:row.character['locationDimension'] }}</div>
        </ng-container>

        <!-- Origin Name -->
        <ng-container *ngSwitchCase="'originName'">
          <div>{{ row.character.originName }}</div>
        </ng-container>

        <!-- Origin Dimension -->
        <ng-container *ngSwitchCase="'originDimension'">
          <div>{{ row.character.originDimension }}</div>
        </ng-container>

        <!-- Default -->
        <ng-container *ngSwitchDefault>
          <name-row [column]="column" [row]="row.character"></name-row>
        </ng-container>

      </ng-container>

      <!-- @if(column.columnDef==='id' && !isSelected(row)) {
      {{ row.character?.id }}
      } @else if(column.columnDef==='id' && isSelected(row)) {
      <div class="selected-id">({{ row.character?.id }})</div>
      } @else if (column.columnDef === 'status') {
      <div [style.color]="row.character['status'] | color">{{ row.character.status }}</div>
      } @else if (column.columnDef === 'species') {
      <div [style.color]="row.character['species'] | color">{{ row.character.species }}</div>
      } @else if (column.columnDef === 'type') {
      <div [style.color]="row.character['type'] | color:'type'">{{ row.character.type | isEmpty:row.character['type'] }}
      </div>
      } @else if (column.columnDef === 'gender') {
      <app-row [column]="column" [row]="row.character"
        [color]="row.character.gender | color:row.character.gender"></app-row>
      }
      @else if (column.columnDef === 'locationName') {
        <div>{{ row.character.locationName }}</div>
      } 
      @else if (column.columnDef === 'locationDimension') {
        <div>{{ row.character.locationDimension }}</div>
      } 
      @else if (column.columnDef === 'originName') {
        <div>{{ row.character.originName }}</div>
      } 
      @else if (column.columnDef === 'originDimension') {
        <div>{{ row.character.originDimension }}</div>
      } 
      
      @else {
      <name-row [column]="column" [row]="row.character"></name-row>
      } -->

    </td>

  </ng-container>
  }


  <ng-container matColumnDef="expandedDetail">
    <ng-container *matCellDef="let element">

      <td [attr.colspan]="displayedColumns.length">

        @if (expandedRows[element.character.id]) {

        <div class="sub-tables">

          <!-- <h3 class="sub-title">Location</h3>
          <table mat-table [dataSource]="[element.location]" class="inner-table sub-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let loc"> {{loc.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let loc"> {{loc.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let loc"> {{loc.dimension}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="locationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: locationColumns;"></tr>
          </table>

          <h3 class="sub-title">Origin</h3>
          <table mat-table [dataSource]="[element.origin]" class="inner-table sub-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let origin"> {{origin.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let origin"> {{origin.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let origin"> {{origin.dimension}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="originColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: originColumns;"></tr>
          </table> -->

          <h3 class="sub-title">Episodes ({{element.episodes.length}})</h3>
          <table mat-table [dataSource]="episodeDataSources[element.character.id]" class="inner-table sub-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Episode ID.</th>
              <td mat-cell *matCellDef="let ep"> {{ep.id}} </td>
            </ng-container>
            <ng-container matColumnDef="episode">
              <th mat-header-cell *matHeaderCellDef> Episode</th>
              <td mat-cell *matCellDef="let ep"> {{ep.episode}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let ep"> {{ep.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="episodeColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: episodeColumns;"></tr>
          </table>
          @if(element.episodes.length > 5){
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          }
        </div>
        }
      </td>
    </ng-container>
  </ng-container>

  <!-- Main Rows and Expanded Detail Rows -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="toggle(element)"></tr>
  <tr mat-row *matRowDef="let element; columns: ['expandedDetail']; when: isExpandedRow">
  </tr>

</table>
}@else{
<section class="details-card-grid">
  @for (character of charactersDetails; track character.character.id) {
  <app-details-card [character]="character" [ngClass]="layout().type"></app-details-card>
  }
</section>
}