<table mat-table [dataSource]="charactersDetails" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Character Columns -->

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.character.image" width="50" height="50" alt="{{element.character.name}}">
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.character.name}} </td>
  </ng-container>

  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef> Species </th>
    <td mat-cell *matCellDef="let element"> {{element.character.species}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.character.status}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.character.gender}} </td>
  </ng-container>

  <!-- Expanded Detail Row -->

  <!-- <ng-container matColumnDef="expandedDetail">
    <td  mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" *ngIf="expandedRows[element.character.id]"> -->
  <ng-container matColumnDef="expandedDetail">
    <ng-container *matCellDef="let element">
    
      <!-- <td style="border:1px solid red" [attr.colspan]="displayedColumns.length" *ngIf="expandedRows[element.character.id]"> -->
      <td [attr.colspan]="displayedColumns.length">

        @if (expandedRows[element.character.id]) {


        <div class="sub-tables">

          <h3>Location</h3>
          <table mat-table [dataSource]="[element.location]" class="inner-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let loc"> {{loc.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let loc"> {{loc.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let loc"> {{loc.dimension}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="locationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: locationColumns;"></tr>
          </table>

          <h3>Origin</h3>
          <table mat-table [dataSource]="[element.origin]" class="inner-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let origin"> {{origin.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let origin"> {{origin.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dimension">
              <th mat-header-cell *matHeaderCellDef> Dimension </th>
              <td mat-cell *matCellDef="let origin"> {{origin.dimension}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="originColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: originColumns;"></tr>
          </table>

          <h3>Episodes</h3>
          <table mat-table [dataSource]="element.episodes" class="inner-table">
            <ng-container matColumnDef="episode">
              <th mat-header-cell *matHeaderCellDef> Episode </th>
              <td mat-cell *matCellDef="let ep"> {{ep.episode}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let ep"> {{ep.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="episodeColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: episodeColumns;"></tr>
          </table>

        </div>
        }
      </td>
    </ng-container>
  </ng-container>

  <!-- Main Rows and Expanded Detail Rows -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="toggle(element)"></tr>
  <!-- <tr mat-row *matRowDef="let element; columns: ['expandedDetail'];"></tr> -->
  <tr mat-row *matRowDef="let element; columns: ['expandedDetail']; when: isExpandedRow">
</tr>

</table>