.sub-table{
    table-layout: fixed;
    width: 100%;
}
.sub-title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
:host{
    background: black;
    overflow-x:scroll;
    height: 100%;
    .mat-mdc-cell {
        height: 60px;
        letter-spacing: 2.0px;
        &.hover{
            cursor: copy;
        }
    }
    .details-card-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.tablet {
    flex: 1 0 49%;
    max-width: 50%;
  }

  .mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }