<mat-toolbar>

    <app-toolbar-menu #menu (openDialogAction)="openDialogHandler($event)"></app-toolbar-menu>

    <span class="spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

        @if (selectedCount() > 0) {
        <mat-icon matBadge="{{selectedCount()}}" [matBadgePosition]="'below before'">person_add_alt_1</mat-icon>
        }@else{
        <mat-icon>person_add_alt_1</mat-icon>
        }
    </button>
    <button (click)="toggleView('grid')" mat-icon-button class="example-icon">
        <mat-icon class="material-icons-outlined">
            remove_done
        </mat-icon>
    </button>

    @if(selectedViewSignal()==='list'){
    <button (click)="toggleView('grid')" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>
            <span class="material-icons-outlined">
                format_list_numbered
            </span>
        </mat-icon>
    </button>
    }@else {
    <button (click)="toggleView('list')" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>grid_view</mat-icon>
    </button>
    }



</mat-toolbar>