<mat-dialog-content>

    <div mat-dialog-title style="text-align: center;">
        <h3>{{incomingData.title}}</h3>
    </div>

    <section style="display: flex;justify-content: center;">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <app-name-search formControlName="name"></app-name-search>
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Character name</mat-label>
                <input formControlName="name" matInput placeholder="Ex. Rick">
                @if(nameError() && form.controls.name.touched){
                <mat-error>{{nameError()}}</mat-error>
                }
            </mat-form-field> -->

            <!-- <mat-form-field class="example-full-width">
                <mat-label>Search Character</mat-label>
                <input formControlName="liveSearch" matInput placeholder="Ex. Rick"> -->
                <!-- @if (liveSearchValue()?.length && liveSearchValue()!.length < 3 ){ <mat-hint>Type at least 3
                    characters to search</mat-hint>
                    } -->
            <!-- </mat-form-field> -->

            <app-select formControlName="status" [control]="form.controls['status']"
                [statusOptions]="statusOptions"></app-select>


        </form>
    </section>

</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
    <button style="color:white" (click)="search()" mat-button mat-dialog-close>Search</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>