<section class="grid-view-container" [class.selected]="isSelected(character)" (click)="selectedRow(character)">

    <article class="card">
        <div class="pic">
            <img src={{character.image}} alt="Baby Wizard">
        </div>
        <div class="card-content lighter">
            <div class="section">
                <span class="long">
                    <h2 [title]="character.name">{{character.id}}. {{character.name}}</h2>
                </span>
            </div>

            <div class="section">
                <span class="text-gray">Status: </span>
                <span [style.marginTop]="(character.status==='Alive' || character.status==='Dead') ? '-5px' :'0px'"
                    [style.color]="character.status | color"
                    [innerHTML]="character.status | isEmpty:character.status:'status'"></span>
                <!-- <div class="status-indicator" [style.background]="character.status | color:'status'"></div> -->
            </div>

            <div class="section">
                <span class="text-gray">Gender:</span>
                <span [style.color]="character['gender'] | gender:'gender'">{{character.gender}}</span>
            </div>

            <div class="section">
                <span class="text-gray">Species:</span>
                <span [style.color]="character['species'] | color:'species'">{{character.species}}</span>
            </div>

            <div class="section">
                <span class="text-gray">Type:</span>
                <span class="long" [style.color]="character['type'] | color:'type'">
                    {{character.type | isEmpty:character['type']}}
                </span>
            </div>
            <!-- <div class="section">
                <ng-content origin></ng-content>
                <ng-content location></ng-content>
            </div> -->
        </div>

    </article>

    @if(isSelected(character)){
    <section class="selected-container">
        <mat-icon>
            <span class="material-icons-outlined">check_circle</span>
        </mat-icon>
    </section>
    }

</section>