.character-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

img {
  width: 80px;
  border-radius: 10px;
}

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  .desktop {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .tablet{
    width: 720px;
    // width: 1024px;   
    align-self: center;
  }
  .mobile{
    width: 420px;
    align-self: center;
  }

}