<mat-dialog-content>

    <div mat-dialog-title style="text-align: center;">
        <h3>{{incomingData.title}}</h3>
    </div>

    <section style="display: flex;justify-content: center;">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <app-name-search [form]="form" formControlName="name"></app-name-search>

            <app-select [title]="'Status'" formControlName="status" [control]="form.controls['status']"
                [statusOptions]="statusOptions"></app-select>

            <app-select [title]="'Species'" formControlName="species" [statusOptions]="speciesOptions"></app-select>

            <app-select [title]="'Gender'" formControlName="gender" formControlName="gender"
                [statusOptions]="genderOptions"></app-select>

            <app-auto-complete [placeholder]="'Ex. Anim...'" [title]="'Type'" formControlName="type"
                [options]="typeOptions"></app-auto-complete>

        </form>
    </section>

</mat-dialog-content>

<mat-dialog-actions [align]="'center'">
    <!-- <button style="color:white" (click)="search()" mat-button mat-dialog-close>Search</button> -->
    <button style="color:white" mat-button (click)="close()">Close</button>
    <!-- <button style="color:white" mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button> -->
</mat-dialog-actions>