/* You can add global styles to this file, and also import other style files */
// #3c3c3c

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    justify-content: center;
    display: flex;
    background: #323232;
    letter-spacing: 1.5px;
}

.lighter {
    font-weight: lighter !important;
}
